<div class="d-flex .flex-column mb-2">
    <input type="text" class="text-input" [(ngModel)]="receivedValue"/>   
    <button type="button" class="add-button" (click)="add()">+</button>
</div>

@if(isEmpty === false) {
    <span class="ml-2">No tasks for today</span>
} @else {
    <div class="component" *ngFor="let task of taskList; let i = index">
        <div class="checkbox-wrapper">
            <input type="checkbox" id="entry-checkbox{{i}}" [checked]="task.isChecked" (change)="toggleCheckbox(i)">
            <label class="text" for="entry-checkbox{{i}}" [ngClass]="{'strikethrough': task.isChecked}">{{ task.name }}</label>
        </div>
        <button class="delete-btn" (click)="deleteEntry(i)">delete</button>
    </div>
}
