.box {
    display: flex;
    align-items: start;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.text-input {
    margin-left: 0.5em;
    height: 30px;
    max-width: 400px;
    border: 1px solid lightgray;
    width: 400px;
    border-radius: 4px;
}

.delete {
    color: white;
    background-color: red;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    color: white;
    background-color: gray;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}