.btns-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.btn-category {
  width: 10vw;
  color: white;
  background-color: #007bff;
  border: 1px solid black;
  border-radius: 4px;
}