@media (max-width: 768px) {
    .m-3.w-100.d-flex.justify-content-between {
      flex-direction: column;
    }
  
    .col-md-6 {
      width: 100%;
    }
}

.btns-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.btn-category {
  width: 10vw;
  color: white;
  background-color: #007bff;
  border: 1px solid black;
  border-radius: 4px;
}